:root {
  /* PRIMARY - COLORS */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* NEUTRAL - COLORS */
  --very-dark-violet: hsl(270, 9%, 17%);
  --grayish-violet: hsl(273, 4%, 51%);
  --light-gray: hsl(273, 4%, 51%);
  --violet-gray: hsl(297, 11%, 68%);
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

.intro-img-desktop {
  display: none;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100px;
  z-index: 1000;
}

.nav-list {
  display: none;
  text-align: center;
  width: 100%;
  min-height: 800px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  padding: 3rem 0;
  margin: 0;
  list-style: none;
  background-color: var(--very-dark-violet);
  background-image: url("images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  backdrop-filter: blur(50px);
}

.nav-list > li {
  margin-bottom: 3rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  padding: 1.5rem 5rem;
}

.nav-link:hover {
  color: var(--very-dark-violet);
  cursor: pointer;
}

.plans-link {
  padding: 1rem 6rem;
  width: 90%;
  background-color: transparent;
  border: solid 2px var(--white);
}

.plans-link:hover {
  background-color: var(--dark-violet);
  color: var(--white);
}

.menu-btn-close {
  display: none;
}

.nav-open {
  background-color: var(--very-dark-violet);
  opacity: 0.3;
}

main {
  margin-top: 100px;
  z-index: 0;
}

.intro {
  width: 100%;
  background-color: var(--dark-violet);
}

.container-intro {
  margin: 0 auto;
}

.container-intro-img {
  width: 100%;
}

.intro-img {
  margin: 0 auto;
}

.intro-cta {
  padding: 7rem 1rem;
  background-color: var(--dark-violet);
  text-align: center;
  color: var(--white);
  position: relative;
}

.mobile__intro-bg-img-1 {
  position: absolute;
  bottom: -175px;
  right: 0;
}

.mobile__intro-bg-img-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.desktop__intro-bg-img-1 {
  display: none;
}

.desktop__intro-bg-img-2 {
  display: none;
}

.intro-img-mobile {
  width: 100%;
  max-width: 500px;

  display: block;
}

.intro-title {
  max-width: 375px;
  font-size: 2.75rem;
  line-height: 3.25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.intro-body {
  max-width: 375px;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.intro-cta-btn {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: var(--white);
  padding: 0.75rem 2rem;
  border: solid 2px var(--white);
}

.intro-cta-btn:hover {
  color: var(--very-dark-violet);
  background-color: var(--white);
}

.about {
  padding: 7rem 1rem;
  text-align: center;
  background-color: var(--white);
}

.about-title {
  font-size: 2.75rem;
  margin-bottom: 4rem;
}

.about-title::before {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background-color: var(--violet-gray);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.card-img {
  margin-bottom: 2rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.card-body {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--light-gray);
  max-width: 375px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.cta {
  text-align: center;
  background-color: var(--dark-violet);
  background-image: url("images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin: 0 1.5rem;
  padding: 4rem 2.5rem;
  margin-bottom: 8rem;
}

.cta-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 2rem;
}

.cta-btn {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--white);
  border: solid 1px var(--white);
  padding: 0.5rem 1.5rem;
}

.cta-btn:hover {
  background: var(--white);
  color: var(--very-dark-violet);
}

.container-soc {
  text-align: center;
  margin-bottom: 3rem;
  background-image: url("images/bg-pattern-footer-mobile.svg");
  padding-top: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.soc-icon:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(16%) saturate(507%)
    hue-rotate(227deg) brightness(96%) contrast(90%);
}

.footer-logo {
  width: 100px;
  margin-bottom: 2rem;
}

.container-soc-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container-soc::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: var(--violet-gray);
  margin: 0 auto;
  margin-top: 2.5rem;
}

.footer-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5rem;
}

.footer-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-gray);
  margin: 2.5rem 0;
}

.footer-link {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--very-dark-violet);
}

.footer-link:hover {
  cursor: pointer;
}

li {
  margin-bottom: 1rem;
}
